{% from 'bootstrap/utils.html' import render_messages %}
{% from 'bootstrap/utils.html' import render_static %}

<!DOCTYPE html>
<html lang="en">

    {% block  head %}
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">

            {% block title %}
                <title>{% if title %}{{ title }} - RGBlog{% else %}Welcome to RGBlog!{% endif %}</title>
            {% endblock %}

            {% block styles %}
                {{ bootstrap.load_css() }}
                {{ render_static('css', 'css/style.css') }}
            {% endblock %}
        </head>
    {% endblock head %}
    <body>

    {% block navbar %}
        {% include "_navbar.html" %}
    {% endblock navbar%}

    {% block content %}
        <div class="container">

        {{ render_messages(dismissible=True, dismiss_animate=True) }}

            {% block app_content_before %}{% endblock %}

            {% block app_content %}{% endblock %}

            {% block app_content_after %}{% endblock %}
            
            <scripts>
                {{ bootstrap.load_js() }}
                {% block scripts %}{% endblock scripts%}
            </scripts>

    {% endblock content %}

        </div>
    </body>
</html>
